/*
!/*/
# Lockfree
/lockfree/*
!/lockfree/*.hpp
# ThreadPool
/threadpool/*
!/threadpool/*.hpp
!/threadpool/*.cpp
# Test Files
/test/*
!/test/*/
/test/*/*
!/test/*/*.cpp
!/test/*/makefile
# .gitignore
!.gitignore
# IDE
.vscode
